.App {
  min-height: 100vh;
  background-color: #282c34;
  text-align: center;
  display: flex;
  flex-direction: column;
}

  .mainSearchBox {
    font-size: calc(10px + 2vmin);
    align-self: center;
    justify-content: center;
    min-width: 512px;
    min-height: 64px;
    margin: auto;
    border-radius: 20px;
    background-color: #BCBCBF;
}
  .mainSearchBox:focus {
    outline: none;
  }